<!DOCTYPE html>
<html lang="pt-br">
<head>	
	{% include '/base/header.twig' %}
</head>
<body>
	<div class="container-fluid border-bottom">
		{% include '/base/nav.twig'%}
	</div>
	
	<div class="container-fluid bg-image">		
		{% block content %}{% endblock %}
	</div>
	
	<div class="container-fluid border-top">
		{% include '/base/footer.twig'%}		
	</div>	
</body>
</html>