<div class="row bgblue"> {#	GLOBAL LINE #}
	<div class="container text-white">

		{# START LINE #}
		<div class="row">
			{#
			#	START COLUN
			#	Site Map
			#}
			<div class="col-12 col-sm-2 mr-3 border-bottom pb-4 mt-4 text-center"> 				
				<ul class="p-0">					
					<li class=""><a class="font-inconsolata text-hov-white " href="/site/home">Home</a></li>
					<li class=""><a class="font-inconsolata text-hov-white " href="/site/produtos">Produtos</a></li>
					<li class=""><a class="font-inconsolata text-hov-white " href="/site/sobre">Sobre</a></li>
					<li class=""><a class="font-inconsolata text-hov-white " href="/site/contato">Contato</a></li>
					<li class=""><a class="font-inconsolata text-hov-white " href="/login">Login</a></li>
				</ul>
			</div>

			{#
			#	START COLUN
			#	Email Form
			#}
			<div class="col-12 col-sm-6 mr-3 border-bottom pb-4 text-center mt-4"> 
				<form action="#">
					<div class="form-group row mx-auto">

						 <div class="col-12 col-sm-8 align-bottom text-left mx-auto">
							<label class="align-bottom mb-3" for="emailfooter">Email</label>
						 </div>						

 						 <div class="col-12 col-sm-8 mx-auto">
 						 	<input type="email"class="form-control form-control-sm" id="emailfooter" aria-describedby="emailfooter" placeholder="Seu email">
 						 </div>	

 						 <div class="col-12 col-sm-8 text-left mx-auto">
						 		<button type="submit" class="btn btn-sm btn-outline-light mt-3">Cadastrar</button>
						</div>					   						  		
 					</div>						  
				</form>				
			</div>

			{#
			#	START COLUN
			#	Media Social Contact
			#}
			<div class="col-12 col-sm border-bottom pb-4 mt-4"> 
				
					<div class="col-12 pt-4">
						<div class="row justify-content-center align-items-center">
							<div class="col-12 col-sm">
								<h3 class="text-orange text-center">Social</h3>
							</div>
							<div class="col text-center">
								<h1><a href=""><i class="fab fa-instagram text-orange"></i></a></h1>	 
							</div>
							<div class="col text-center">
								<h1><a href=""><i class="fab fa-facebook-square text-orange"></i></a></h1>
							</div>
							<div class="col text-center">
								<h1><a href=""><i class="fab fa-twitter text-orange"></i></a></h1>
							</div>
						</div>						
						
					</div>				
			</div>		
		</div> {# END ROW #}

		{# START LINE #}
		<div class="row mt-5 justify-content-center align-items-center">
			<div class="col-12 col-sm-2 mr-3 pb-4"> 
					<img src="/img/santana.vert.png" class="rounded mx-auto d-block" alt="santanaquimica">
			</div>
			<div class="col-12 col-sm-6 mr-3 pb-4 text-center "> 
				<blockquote class="blockquote">
 					<p class="mb-0 fs-07-em pl-4 pr-4"><em>"Mas eu digo: Amem os seus inimigos e orem por aqueles que os perseguem, para que vocês venham a ser filhos de seu Pai que está nos céus. Porque ele faz raiar o seu sol sobre maus e bons e derrama chuva sobre justos e injustos."</em></p>
  					<footer class="blockquote-footer fs-07-em">- Mateus 5:44-45 .<cite title="Título da fonte">Título da fonte</cite></footer>
				</blockquote>
				 
			</div>
			<div class="col-12 col-sm pb-4"> 
				<h5 class="">Contato</h5>
				<h6 class="tel mt-4 mb-0">+55 17 3269-1200</h6>
				<p class="font-lato mt-0 mb-3">
					<a class="text-yellow" href="mailto:santanaquimica@terra.com.br">santanaquimica@terra.com.br</a>	
				</p>
				<p class="font-lato">
					Santana Química
					<br>Indústria e Comércio de Produtos Químicos
					<br>Rua Carlos Pagianotto, 251
					<br>Distrito Industrial
					<br>Ipiguá - SP - 15108-000	
				</p>
					
			</div>		
		</div> {# END ROW #}
	</div> {# END CONTAINER #}
</div> {# END LINHA GLOBAL #}

<div class="row text-center align-items-center mt-2">
	<div class="col">
		<p class="copyright">&copy; 2020 Santana Química<p>			
	</div>
</div>	




	{# LINK JQUERY #}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	{# LINK BOOTSTRAP JS #}
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>		
	<script type="text/javascript" src="/bootstrap-4.4.1-dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	{# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> #}

	{#LINK PARA ICONES#}
	<script src="https://kit.fontawesome.com/57a3dbac3c.js" crossorigin="anonymous"></script>

	{#LINK PARA JAVASCRIPT#}
	<script type="text/javascript" src="/js/site.js" crossorigin="anonymous"></script>


