{% extends 'base/base.twig' %}
{% block content %}

<!-- ----------------------------------------------------------------------------------
-	Esta pagina extende base.twig e tambem é um template para as
-	paginas dos produtos.
-	Aqui fica o menu lateral esquerdo, que é replicado pelos produtos
-------------------------------------------------------------------------------------->

<div class="row bg-image"> <!-- Row principal, que engloba o content do site e tem o bg image -->

	<div class="container"> <!-- faz um container dentro da linha para padronizar o tamanho do site -->
		
		<div class="row pt-2 pb-2"> <!-- Linha principal do container -->
			<div class="col-4 col-sm-3 border-right"> <!-- Coluna esquerda (menu) -->
				<div class="row "> 
					<div class="col-12 pt-2 text-right text-sm-left">
						<h6 class="font-weight-bold">Linha Automotiva</h6>
					</div>
					<div class="col pt-2 text-right text-sm-left">
						<ul class="">	
							<h6 class="m-0 font-weight-bold">Linha Comum</h6>
							<h6 class="">Diluição 1:10</h6>						
							<li class=""><a class="color-blue" href="/site/produtos/sanq-mol">Sanq Mol</a></li>
							<li class=""><a class="color-blue" href="/site/produtos/ativado-110">Ativado 110</a></li>						
							<li class=""><a class="color-blue" href="/site/produtos/sanq-chassis">Sanq Chassis 110</a></li>
							
							<!-- SANCLEAR
							<li class=""><a class="color-blue" href="#">Sanclear</a></li>		-->
						</ul>
					</div>
				</div>

				<div class="row pt-2 text-right text-sm-left">
					<div class="col ">
						<ul class="">	
							<h6 class="m-0 font-weight-bold">Linha Concentrada</h6>
							<h6 class="">Diluição 1:40</h6>	
							<li class=""><a class="color-blue menu-produtos" href="/site/produtos/sanq-mol-ls">Sanq Mol LS</a></li>
							<li class=""><a class="color-blue" href="/site/produtos/ativado-ls">Ativado LS</a></li>
							<li class=""><a class="color-blue" href="/site/produtos/samix-ls">Samix LS</a></li>				

						</ul>
					</div>					
				</div>

				<div class="row pt-2 text-right text-sm-left">
					<div class="col">
						<ul class="">	
							<h6 class="m-0 font-weight-bold">Linha Super Concentrada</h6>
							<h6 class="">Diluição 1:100</h6>						
							<li class=""><a class="color-blue" href="/site/produtos/samix-220">Samix 220</a></li>
							<li class=""><a class="color-blue" href="/site/produtos/ativado-220">Ativado 220</a></li>
							
						</ul>
					</div>					
				</div>

				<div class="row pt-2 text-right text-sm-left">
					<div class="col  ">
						<ul class=" ">	
							<h6 class="font-weight-bold">Acabamentos</h6>
							<!-- 					
							<li class=""><a class="color-blue" href="/site/produtos/silicone-gel">Silicone Gel</a></li> -->
							<li class=""><a class="color-blue" href="/site/produtos/pneu-brill">Pneu Brill</a></li>
							<li class=""><a class="color-blue" href="/site/produtos/mult-max">Mult Max</a></li>							
						</ul>
					</div>					
				</div>

				<div class="row mt-2 text-right text-sm-left border-top">
					<div class="col-12 pt-2">
						<h6 class="font-weight-bold">Linha Industrial</h6>
					</div>
					<div class="col  ">
						<ul class=" ">												
							<li class=""><a class="color-blue" href="#">R2 - 686</a></li>
							<li class=""><a class="color-blue" href="#">R2 - 164</a></li>
							<li class=""><a class="color-blue" href="#">R2 - 184</a></li>
							<li class=""><a class="color-blue" href="#">R2 - 878</a></li>
							<li class=""><a class="color-blue" href="3">R2 - 492</a></li>
							<li class=""><a class="color-blue" href="#">R2 - 544</a></li>
							<li class=""><a class="color-blue" href="#">R2 - 772</a></li>
						</ul>
					</div>
				</div>

			</div>

			<!-- COLUNA DOS PRODUTOS - LADO DIREITO -->
			<div class="col-8 col-sm-9 ">
				{% block prod %}{% endblock %}

				<!-- BOX OBS ABAIXO DOS PRODUTOS SOBRE DILUIÇÃO -->
				<div class="row border border-success my-5 p-2">
					<div class="col-12 border-bottom">
						<h2>Como diluo os produtos da linha automotiva?</h2>				
					</div>
					<div class="col-12 ">
						<p class="m-0"><strong>Linha Comum:  (1 : 10)</strong> - A diluição da linha comum é feita com 1 parte do produto e até 10 partes de água.</p>				
					</div>
					<div class="col-12 ">
						<p class="m-0"><strong>Linha Concentrada: (1 : 40)</strong> - A diluição da linha concentrada é feita com 1 parte do produto e até 40 partes de água. </p>	
					</div>
					<div class="col-12 ">
						<p class="m-0"><strong>Linha Super Concentrada: (1 : 100)</strong> - A diluição da linha super concentrada é feita com 1 parte do produto e até 100 partes de água. </p>	
					</div>
				</div>

			</div>

		</div>		
		

	</div>
</div>
{% endblock %}