{# ESSES MENUS DEVEM VIR AUTOMATICOS DO BD #}
<ul class="list-group font-ubuntu-mono">
  <li class="list-group-item"><a class="text-success nav-link" href="/user/show">Listar</a></li>
  <li class="list-group-item"><a class="text-success nav-link" href="/user/new">Novo</a></li>  
</ul>