{% extends 'base/base.twig' %}
{% block content %}
	<div class="row bg-image">
		<div class="container">
			<div class="row pt-2 mb-3">
				<div class="col-12 col-sm-7 ">
					<div class="row">
						<div class="col">
							<h2>Contato</h2>
						</div>
					</div>
					<div class="row">
						<div class="col border-bottom mb-3">
							<span class="font-lato">Para um contato eficiente, verifique se as informações preenchidas estão corretas.</span><br>
							<span class="font-lato">O email deve estar correto para receber a resposta.</span><br>
							<span class="font-lato">Envie sua mensagem.</span><br>
							
						</div>
					</div>
					
					<form action="/site/contato" method="POST">
						<div class="row form-group">	
							<div class="col-12 col-sm-3">
								<label for="nome" class="font-lato">Nome</label>
							</div>								
							<div class="col-12 col-sm-9">
								<input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" aria-label="nome">
							</div>							
						</div>
						<div class="row form-group">	
							<div class="col-12 col-sm-3">
								<label for="email" class="font-lato">Email</label>
							</div>								
							<div class="col-12 col-sm-9">
								<input type="text" name="email" class="form-control" id="email" placeholder="Email" aria-label="email">
							</div>							
						</div>
						<div class="row form-group">	
							<div class="col-12 col-sm-3">
								<label for="telefone" class="font-lato">Telefone</label>
							</div>								
							<div class="col-12 col-sm-9">
								<input type="tel" name="telefone" id="telefone" class="form-control" placeholder="Telefone" aria-label="tel" >
							</div>							
						</div>
						<div class="row form-group">	
							<div class="col-12 col-sm-3">
								<label for="msg" class="font-lato">Mensagem</label>
							</div>								
							<div class="col-12 col-sm-9">
								<textarea class="form-control" name="msg" id="msg" rows="5" placeholder="Mensagem"></textarea>
							</div>							
						</div>

						{# LINK RECAPTCHA#}
		    				<script src="https://www.google.com/recaptcha/api.js?render=6Ler-OcUAAAAAJ0kD3Ur9_UCOWYXV0w3HQUxniaw"></script>
		    				<script>
		    				grecaptcha.ready(function () {
		    					grecaptcha.execute('6Ler-OcUAAAAAJ0kD3Ur9_UCOWYXV0w3HQUxniaw', { action: 'homepage' }).then(function (token) {
		    						var recaptchaResponse = document.getElementById('recaptchaResponse');
		    						recaptchaResponse.value = token;
		    					});
		    				});
		    				</script>
		    				<input type="hidden" name="recaptcha_response" id="recaptchaResponse">
		    				{# FIM RECAPTCHA #}
		    				<div class="col-12 text-right">							
		    					<button type="submit" class="btn text-white badge-success mb-2"><i class="fa fa-check"></i> Enviar</button>
		    				</div>
		    				{% if send == true %}
		    					<div class="alert alert-success">
		    						Mensagem enviada com sucesso.<br>
		    					</div>
		    				{% endif %}		
					</form >	    			
		    			
		</div>
		<div class="col-12 col-sm-5 border-left">
			<div class="border-green p-3">

			<div class="row">
				<div class="col-12">
					<i class="fa fa-phone color-blue" aria-hidden="true"></i>&nbsp;&nbsp;
					<span class="font-roboto-mono">(17) 3269-1200</span>
					<span class="font-roboto-mono">&nbsp;|&nbsp;&nbsp;3269-1247</span><br>
					<i class="fa fa-whatsapp color-green" aria-hidden="true"></i>&nbsp;&nbsp;
					<span class="font-roboto-mono">(17) 99619-3941</span>
					</div>
			</div>
			<div class="row">
				<div class="col-12">
					<i class="fa fa-envelope-o color-yellow" aria-hidden="true"></i>&nbsp;&nbsp;<span class="font-roboto-mono">santanaquimica@terra.com.br</span><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<i class="fa fa-map-marker color-red" aria-hidden="true"></i>&nbsp;&nbsp;
					<span class="font-roboto-mono">Rua Carlos Pagianotto, 251</span><br>
					<span class="font-roboto-mono">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ipiguá - São Paulo</span>
				</div>
			</div>
			</div>
			<div class="row">
				<h5 class="p-3">Localização</h5>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.159057418887!2d-49.38938368561645!3d-20.663106966857818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bd00756b860dbf%3A0x2e6f8e2a95f93c31!2sSantana%20Qu%C3%ADmica!5e0!3m2!1spt-BR!2sbr!4v1586883637392!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>

		</div>
	</div>
</div>
</div>
</div>
{% endblock %}