{% extends 'base/base.twig' %}
{% block content %}
	<div class="row bg-image">
		<div class="container pt-2 pb-2 ">	
			<div class="row justify-content-center"> {# LINE #}
			<div class="col-12 text-center border border-warning mb-3">
				<h2>Juntos vamos derrotar o vírus.</h2>
				<h3>Unidos pela informação e pela responsabilidade.</h3>
				<p>Ter <span class="badge badge-danger">COVID-19</span> não é motivo de vergonha. Ficou doente, <span class="badge badge-info">ALERTE</span> as pessoas com quem tem contato, para que se cuidem : <span class="badge badge-success">SEJA CONSCIENTE.</span></p>
				<h6>
					<span class="badge badge-danger">#todoscontraovirus</span>
					<span class="badge badge-warning">#fiqueseguro</span>
				</h6>
			</div>
				<div class="col-12 col-sm-6 col-lg text-center">	
					<div class="alert alert-danger"><h1>Produtos de Limpeza Automotiva.</h1></div>
					<div class="alert alert-info"><h2>Site em desenvolvimento.</h2></div>
					<div class="alert alert-warning" role="alert">
						<h3>Contato pelo formulário ao lado, email ou telefones.</h3>				
					</div>	
				</div>
				<div class="col-sm-6 col-lg-5 col-xl-4">
					<H5>TESTE</H5>
				</div>{# FIM COLUNA DIREITA #}
			</div>{# END LINE #}

			{# ROW FEATURED PRODUCTS #}
			<div class="row justify-content-center text-center">
				<div class="col-12">
					<h2>Produtos Destaque</h2>
				</div>				
			</div>
			<div class="row justify-content-center text-center">
				<div class="col border">
					<h2>prod 1</h2>
				</div>
				<div class="col border">
					<h2>prod 2</h2>
				</div>
				<div class="col border">
					<h2>prod 3</h2>
				</div>
				<div class="col border">
					<h2>prod 4</h2>
				</div>
			</div>	
			{# END ROW FEATURED PRODUCTS #}		
		</div>
	</div>
{% endblock %}
