{% extends 'base/base.twig' %}
{% block content %}
	<div class="row bg-image">
		<div class="container pt-2 pb-2 ">	

			{# LINE COVID#}
			<div class="row justify-content-center mb-1"> 
			<div class="col text-center border border-warning m-3 m-sm-0">
				<h2>Juntos vamos derrotar o vírus.</h2>
				<h3>Unidos pela informação e pela responsabilidade.</h3>
				<p>Ter <span class="badge badge-danger">COVID-19</span> não é motivo de vergonha. Ficou doente, <span class="badge badge-info">ALERTE</span> as pessoas com quem tem contato, para que se cuidem : <span class="badge badge-success">SEJA CONSCIENTE.</span></p>
				<h6>
					<span class="badge badge-danger">#todoscontraovirus</span>
					<span class="badge badge-warning">#fiqueseguro</span>
				</h6>
			</div>				
			</div>
			{# END LINE COVID#}

			{# NEWSLETTER #}
			<div class="row justify-content-center text-center mb-1">{# LINE #}
				<div class="col m-0 p-0">

					<form action="/site/newsletter/" method="GET">
						
						<div class="form-group row m-sm-0 m-3 p-3 bgyellow">

							<div class="col-12 col-sm-4 text-sm-right">
								<label for="emailbody" class="col-form-label col-form-label-sm text-black">Cadastro de Email - Newsletter</label>
							</div>
    						
    						<div class="col-8 col-sm-4">
      							<input type="email" class="form-control form-control-sm" id="emailbody" name="emailbody" placeholder="melhoremail@gmail.com">
    						</div>
    						<div class="col-4 col-sm-4 text-sm-left">
  								<button type="submit" class="btn btn-outline-dark btn-sm ">Cadastrar</button>
  							</div>

  						</div>
  						{% if emailBody == true %}
		    				<div class="alert alert-success">
		    					Obrigado por se cadastrar.<br>
		    				</div>
		    			{% endif %}
					</form>
				</div>	
							
			</div>
			{# END LINE NEWSLETTER#}			

			{# BANNERS #}
			<div class="row justify-content-center text-center border mb-1">{# LINE #}
				<div class="col m-2 border">BANNERS</div>				
			</div>{# END LINE BANNERS#}

			{# FORM TO REGISTER SELLERS AND RESEARCH#}

			<div class="row justify-content-center text-center border mt-2">{# LINE #}

				{# FORM TO REGISTER SELLERS #}
				<div class="col-12 col-sm-7 text-left">

					<form action="#" method="POST">

						<div class="form-row">
							<div class="col m-3 p-0 text-center">
								<h3>Cadastro de Revendedor ou Representante</h3>
							</div>
						</div>

						<div class="form-row text-left m-0 p-0">
							<div class="form-group col-12 m-0 p-0">
								<div class="form-check">
  									<input class="form-check-input" type="radio" name="representante" id="revendedorRadio" value="revendedor" checked>
  									<label class=""  class="form-check-label" for="revendedorRadio">Revendedor</label>
								</div>
								<div class="form-check">
 									 <input class="form-check-input" type="radio" name="representante" id="representanteRadio" value="representante">
  									<label class=""  class="form-check-label" for="representanteRadio">Representante</label>
								</div>
							</div>
						</div>

						<div class="form-row text-left ">
							<div class="form-group col-12 m-0 p-0">
								<label class="m-0 p-0"  for="nome10">Nome</label>
								<input id="nome10" class="form-control" name="nome10" type="text">
							</div>							
						</div>

						<div class="form-row ">
							<div class="form-group col m-0 p-0 mr-sm-3">
								<label class="m-0 p-0"  for="email10">Email</label>
								<input id="email10" class="form-control" name="email10" type="email">
							</div>
							<div class="form-group col-sm-4 m-0 p-0">
								<label class="m-0 p-0"  for="">Telefone</label>
								<input id="" class="form-control" name="" type="tel">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-12 m-0 p-0">
								<label class="m-0 p-0"  for="">Cidade</label>
								<input id="" class="form-control" name="" type="text">
							</div>							
						</div>

						<div class="form-row">
							<div class="form-group col m-0 p-0 mr-sm-3">
								<label class="m-0 p-0"  for="">Estado</label>
								<input id="" class="form-control" name="" type="text">
							</div>
							<div class="form-group col-sm-4 m-0 p-0">
								<label class="m-0 p-0" for="">CEP</label>
								<input id="" class="form-control" name="" type="text">
							</div>							
						</div>

						<div class="form-row">
							<div class="form-group col-12 m-0 p-0">
    							<label class="m-0 p-0"  for="exampleFormControlTextarea1">Mensagem</label>
    							<textarea maxlength="2048" class="form-control resize-none" id="exampleFormControlTextarea1" rows="6"></textarea>
  							</div>			
						</div>

						<div class="form-row">
							<div class="form-check m-2">    							
    							<input class="form-check-input" type="checkbox" value="">
  								<label class="p-0" >Trabalha na área?</label>
  							</div>			
						</div>
						<button type="submit" class="btn btn-sm btn-info">Enviar</button>
					</form>

				</div>


				{# FORM TO REASEARCH #}
				<div class="col-12 col-sm-5 border-left">

					<div class="row align-items-center justify-content-center bgbeige">
						<div class="col-4 col-sm-3 p-3">
						<image src="/img/icons/magic-box.png"></image>						
					</div>

					<div class="col">
						<h2 class="text-mamao2">Sugestão Digital</h2>
					</div>
					</div>
					<div class="row mb-3 pt-3 border-bottom bgbeige2">
						<div class="col">
							<h6>Esta é nossa caixa de sugestão digital.</h6>							
							<h6>Você poderia nos deixar algumas sugestões ?</h6>
							<h6>Sua opinião importa.</h6>
						</div>
					</div>

					<form action="/" method="POST">

						<fieldset class="form-group">
								<div class="row align-items-center">
								    <legend class="col-form-label col-sm-6 pt-0"><h6>Voce é nosso cliente?</h6></legend			>
								    <div class="col-sm-6">
								        <div class="form-check">
								          <input class="form-check-input" type="radio" name="radio1" id="radio1" value="option1">
								          <label class="form-check-label" for="radio1">
								            Sim
								          </label>
								        </div>
								        <div class="form-check">
								          <input class="form-check-input" type="radio" name="radio1" id="radio2" value="option2">
							          	<label class="form-check-label" for="radio2">
							            Não
							          	</label>
							      </div>        
				      	</div>
				    	</div>
				  	</fieldset>

					  <fieldset class="form-group">
					    <div class="row align-items-center">
					      <legend class="col-form-label col-sm-6 pt-0"><h6>Você recomendaria nossos produtos?</h6></legend>
					      <div class="col-sm-6">
					        <div class="form-check">
					          <input class="form-check-input" type="radio" name="radio2" id="radio3" value="option1">
					          <label class="form-check-label" for="radio3">
					            Sim
					          </label>
					        </div>
					        <div class="form-check">
					          <input class="form-check-input" type="radio" name="radio2" id="radio4" value="option2">
					          <label class="form-check-label" for="radio4">
					            Não
					          </label>
					        </div>        
					      </div>
					    </div>
					  </fieldset>
  
						<div class="form-group">
					    <label for="textarea5"><h6>Escreva sua sugestão/opinião aqui?</h6></label>
					    <textarea maxlength="2048" class="form-control resize-none" id="textarea5" rows="7"></textarea>
					  </div>
					  <button class="btn btn-sm btn-warning mt-4">Enviar minha sugestão</button>
					</form>
					
				</div> {# END LEFT COL #}				
			</div>{# END LINE #}
			{# END FORM REGISTER SELLERS #}

			{# ROW FEATURED PRODUCTS #}
			<div class="row justify-content-center text-center m-5 font-ubuntu">
				<div class="col-12">
					<h2>Produtos Destaque</h2>

				</div>				
			</div>
			<div class="row justify-content-center text-center font-lato p-3">
				<div class="col-12 col-sm m-2 p-2 border">
					<h4 class="mt-2 mb-2">Pneu Brill</h4>
					<a href="/site/produtos/pneu-brill">
						<img src="/img/prod/pneu.brill.png" class="img-fluid" alt="Santana Química">
					</a>					
					<h6 class="mt-4 mb-3">Pneus mais pretos e brilhando.</h6>	
					<h6 class="mt-4 mb-3">LINHA ACABAMENTO</h6>		
					<a class="text-gray text-hov-red" href="#"><i class="fa fa-shopping-cart text-red" aria-hidden="true"></i> Comprar</a>
							
				</div>
				<div class="col-12 col-sm m-2 p-2 border">
					<h4 class="mt-2 mb-2">Sanq Mol LS</h4>					
					<a href="/site/produtos/sanq-mol-ls"><img src="/img/prod/sh.5l.300.png" class="img-fluid" alt="Santana Química"></a>
					<h6 class="mt-4 mb-3">Xampu neutro automotivo.</h6>	
					<h6 class="mt-4 mb-3">LINHA CONCENTRADO</h6>			
					<a class="text-gray text-hov-red" href="#"><i class="fa fa-shopping-cart text-red" aria-hidden="true"></i> Comprar</a>				
				</div>
				<div class="col-12 col-sm m-2 p-2 border">
					<h4 class="mt-2 mb-2">Samix LS</h4>						
					<a href="/site/produtos/samix-ls"><img src="/img/prod/samix.5l.300.png" class="img-fluid" alt="Santana Química"></a>
					<h6 class="mt-4 mb-3">Desengraxante automotivo.</h6>	
					<h6 class="mt-4 mb-3">LINHA CONCENTRADO</h6>		
					<a class="text-gray text-hov-red" href="#"><i class="fa fa-shopping-cart text-red" aria-hidden="true"></i> Comprar</a>					
				</div>
				<div class="col-12 col-sm m-2 p-2 border">
					<h4 class="mt-2 mb-2">Ativado LS</h4>					
					<a href="/site/produtos/ativado-ls"><img src="/img/prod/at.ls.300.png" class="img-fluid" alt="Santana Química"></a>
					<h6 class="mt-4 mb-3">Desincrustante automotivo.</h6>	
					<h6 class="mt-4 mb-3">LINHA CONCENTRADO</h6>		
					<a class="text-gray text-hov-red" href="#"><i class="fa fa-shopping-cart text-red" aria-hidden="true"></i> Comprar</a>					
				</div>
			</div>	
			{# END ROW FEATURED PRODUCTS #}		
		</div>
	</div>
{% endblock %}
