{% extends 'base/base.twig' %}
{% block content %}
<div class="container mt-2 mb-2">

	{# --------------------------------------------------------
		CONTEUDO DIVIDIDO POR DUAS COLUNAS
		COLUNA ESQUERDA - DESENHO CARICATURA
		COLUNA DIREITA - FORMULARIO CONTATO

		--------------------------------------------------------- #}
		<div class="row justify-content-center">
			
			<div class="col-12 col-sm col-lg text-center">	
				<div class="alert alert-info"><h2>Site em desenvolvimento.</h2></div>
				<div class="alert alert-warning" role="alert">
  					
				<h3>Contato pelo formulário ao lado, email ou telefones.</h3>
				<h4>Logo o site estará funcionando adequadamente...</h4>
				</div>
				
				 
				{#
				<figure class="figure">
					<img src="/img/2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
					<figcaption class="figure-caption text-right">Santana.</figcaption>
				</figure>
				#}
			</div>
	
			<div class="col-sm-6 col-lg-5 col-xl-4">

	{# --------------------------------------------------------
		    FORMULÁRIO DE CONTATO
		    --------------------------------------------------------- #}
		    
		    <form action="/mail" method="POST">
		    	{# INICIO CARD #}
		    	<div class="card border rounded-0">
		    		<div class="card-header p-0">
		    			<div class="text-center py-2">
		    				<h3 class="font-roboto-mono text-success">Contato</h3>	    				
		    			</div>
		    		</div>
		    		<div class="card-body">
		    			<div class="form-group">
		    				{# INPUT NOME #}
		    				<div class="input-group mb-3">
		    					<div class="input-group-prepend">
		    						<div class="input-group-text"><i class="far fa-user text-info"></i></div>
		    					</div>
		    					<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
		    				</div>

		    				{# INPUT EMAIL #}
		    				<div class="input-group mb-3">
		    					<div class="input-group-prepend">
		    						<div class="input-group-text"><i class="far fa-envelope text-info"></i></div>									
		    					</div>
		    					<input type="text" class="form-control" name="email" id="email" placeholder="santanaquimica@terra.com.br" aria-label="email" >
		    				</div>
		    				{# INPUT TELEFONE #}
		    				<div class="input-group mb-3">
		    					<div class="input-group-prepend">
		    						<div class="input-group-text"><i class="fab fa-whatsapp text-info"></i></div>									
		    					</div>
		    					<input type="tel" name="telefone" id="telefone" class="form-control" placeholder="(17) 32691200" aria-label="tel" >
		    				</div>
		    				{# INPUT MENSAGEM #}
		    				<p class="font-inconsolata">Em que podemos <span class="badge badge-pill badge-info"> ajudá-lo ? </span> </p>
		    				<div class="input-group mb-3">
		    					<div class="input-group-prepend">
		    						<div class="input-group-text"><i class="far fa-comment text-info"></i></div>									
		    					</div>
		    					<textarea class="form-control" name="msg" id="msg" rows="5" placeholder="Escreva aqui... e nos envie sua mensagem."></textarea>								
		    				</div>

		    				<div class="text-center">							
		    					<button type="submit" class="btn text-white badge-success mb-2"><i class="fa fa-check"></i> Enviar</button>
		    				</div>

		    				{% if send == true %}
		    					<div class="alert alert-success">
		    						Mensagem enviada com sucesso.
		    					</div>
		    				{% endif %}

		    			</div>
		    		</div>
		    		
		    	</div> 
		    	{# FIM CARD #}
		    	
		    </form>
		    
		</div>{# FIM COLUNA DIREITA #}

	</div>
</div>
{% endblock %}
