{% extends 'base/base.twig' %}
{% block content %}

<div class="row bg-image"> <!-- LINHA -->
	<div class="container">
		<div class="row justify-content-center"> <!-- LINHA -->
			<div class="col border justify-content-center text-center">
				<h3>PRODUTOS</h3>
			</div>
		</div>

		<div class="row pt-2 pb-2"> <!-- LINHA GLOBAL -->
			<!-- COLUNA DOS MENUS - LADO ESQUERDO 
			d-none d-sm-block
		-->
			<div class="col-4 col-sm-3 border ">

				<div class="row "> 
					<div class="col-12 pt-2">
						<h6 class="">Linha Automotiva</h6>
					</div>
					<div class="col pt-2">
						<ul class="">	
							<h6 class="pb-1">Neutro</h6>						
							<li class=""><a class="" href="#">Sanq Mol LS</a></li>
							<li class=""><a  href="#">Sanq Mol</a></li>
							<li class=""><a href="#">Sanclear</a></li>
							<li class=""><a href="#">Sanq Mol 220</a></li>
						</ul>
					</div>
				</div>

				<div class="row  pt-2">
					<div class="col  ">
						<ul class="">	
							<h6 class="pb-1 ">Desincrustante</h6>						
							<li class=""><a href="">Ativado 220</a></li>
							<li class=""><a href="">Ativado 140</a></li>
							<li class=""><a href="">Ativado 110</a></li>							
						</ul>
					</div>
					
				</div>

				<div class="row pt-2 ">
					<div class="col  ">
						<ul class=" ">	
							<h6>Desengraxante</h6>						
							<li class=""><a href="">Samix 220</a></li>
							<li class=""><a href="">Samix 140</a></li>
							<li class=""><a href="">Sanq Chassis LS</a></li>
							<li class=""><a href="">Sanq Chassis 110</a></li>
							<li class=""><a href="">Sancamix</a></li>
						</ul>
					</div>					
				</div>

				<div class="row mt-2 border-top">
					<div class="col-12 pt-2">
						<h6>Linha Industrial</h6>
					</div>
					<div class="col  ">
						<ul class=" ">	
							<h6>Neutro</h6>						
							<li class=""><a href="">R2 838</a></li>
							<li class=""><a href="">R2 168</a></li>
							<li class=""><a href="">R2 878</a></li>
							
						</ul>
					</div>
				</div>

			</div>



			<!-- COLUNA DOS PRODUTOS - LADO DIREITO -->
			<div class="col-8 col-sm-9 border">
				<!-- CADA LINHA CONTEM 3 COLUNAS COM CADA COLUNA 1 PRODUTO -->
				<div class="row">
					<div class="col col-sm-4">
						<H2>prod 1</H2>
					</div>
					<div class="col col-sm-4">
						<H2>prod 2</H2>
					</div>
					<div class="col col-sm-4">
						<H2>prod 3</H2>
					</div>
				</div>

				<div class="row">
					<div class="col col-sm-4">
						<H2>prod 1</H2>
					</div>
					<div class="col col-sm-4">
						<H2>prod 2</H2>
					</div>
					<div class="col col-sm-4">
						<H2>prod 3</H2>
					</div>
				</div>

				<div class="row">
					<div class="col col-sm-4">
						<H2>prod 1</H2>
					</div>
					<div class="col col-sm-4">
						<H2>prod 2</H2>
					</div>
					<div class="col col-sm-4">
						<H2>prod 3</H2>
					</div>
				</div>
			</div>				
		</div> <!-- END LINHA GLOBAL -->
	</div>
</div>

{%endblock%}