{% extends 'base/base.twig' %}
{% block content %}


<div class="container mt-2 mb-2 font-inconsolata text-justify bg-image ">

	<div class="row justify-content-center">
		<div class="col col-sm-8">
			<h3 class="font-roboto">A empresa</h3>
			<p>Há mais de 20 anos no mercado, é uma empresa especializada
				em produtos químicos, especificamente na linha de limpeza automotiva.</p>
			<p>Contamos com uma equipe de qualidade, com experiência em fabricação e 
				comercialização, que nos permite agilidade e eficiência, para que nossos
				produtos chequem até você.</p>
			<p>Sempre inovando e atendendo as necessidades do mercado, possuímos uma linha
				completa para sua empresa no ramo de limpeza automotiva.</p>
		</div>		
	</div>
	<div class="row justify-content-center">
		<div class="col col-sm-8">
			<h3 class="font-roboto">Missão</h3>
			<p>Proporcionar aos nossos clientes produtos de qualidade, buscando sempre a satisfação de nossos clientes através do fornecimento e distribuição de nossos produtos, ampliando e garantindo assim, nossa parceria com nossos clientes e colaboradores.</p>
		</div>		
	</div>
	<div class="row justify-content-center">
		<div class="col col-sm-8">
			<h3 class="font-roboto">Visão</h3>
			<p>Buscamos sempre manter essa qualidade e referência no mercado, sempre inovando e dispostos a nos aperfeiçoar e a melhorar, para manter essa credibilidade perante aos nossos clientes.</p>
		</div>		
	</div>	
	<div class="row justify-content-center">
		<div class="col col-sm-8">
			<h3 class="font-roboto">Valores</h3>
			<p>PROFISSIONALISMO</p>
			<p>RESPEITO</p>
			<p>DEDICAÇÃO</p>
			<p>QUALIDADE</p>
			<p>COMPROMETIMENTO</p>
		</div>		
	</div>
	<div class="row">
		<div class="col col-sm-8">
			<img class="border" src="/img/valores.png"/>
		</div>
	</div>		
</div>
<div class="row bg-dark">
	<div class="col">
		oi
	</div>
</div>
{% endblock %}