{% extends 'base/base.twig' %}
{% block content %}

<div class="row bg-image">

<div class="container mt-2 mb-2 font-inconsolata text-justify">

	<div class="row justify-content-center">
		<div class="col col-sm-8">
			<h3 class="font-roboto color-red">A empresa</h3>
			<p>Há mais de 20 anos no mercado, uma indústria de produtos químicos, especializada na linha de limpeza automotiva.</p>
			<p>Contamos com uma equipe de qualidade, com experiência em fabricação e 
				comercialização, que nos permite agilidade e eficiência, para que nossos 
				produtos cheguem até você.</p>
			<p>Sempre inovando e atendendo as necessidades do mercado, possuímos uma linha 
				completa para sua empresa.</p>
		</div>		
	</div>
	<div class="row justify-content-center">
		<div class="col col-sm-8">
			<h3 class="font-roboto color-red">Missão</h3>
			<p>Proporcionar aos nossos clientes produtos de qualidade, buscando sempre a satisfação de nossos clientes através do fornecimento e distribuição de nossos produtos, garantindo e fortalecendo assim, nossa parceria com clientes e colaboradores.</p>
		</div>		
	</div>
	<div class="row justify-content-center">
		<div class="col col-sm-8">
			<h3 class="font-roboto color-red">Visão</h3>
			<p>Buscamos sempre manter alta qualidade e boa referência no mercado, inovando e dispostos a nos aperfeiçoar e a melhorar, para manter sólida credibilidade perante os nossos clientes.</p>
		</div>		
	</div>	
	

	</div>	
		
</div>

<div class="row mt-5 mb-5">
	<div class="col-12 col-sm-12 text-center">
		
		<h3><span class="badge badge-dark">Valores</span></h3>
		<img class="img-fluid rounded mx-auto d-block" src="/img/valores.png"/>
	</div>
</div>
{% endblock %}